<!DOCTYPE html>
<html>
  <head>
    <title>Random Tesla UK Referral Codes Generator</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <%= yield %>

        <div class="d-flex justify-content-center">
          <%= link_to 'Get a random Referral Code', random_codes_path, class: 'button' %>

          <%= link_to 'Add your Referral Code', new_code_path, class: 'button btn-transparent' %>
        </div>
      </div>
    </div>
  </body>
</html>
